{{set . "title" "About"}}
{{template "header.html" .}}

<div class="container k-view">
<div class="jumbotron">
	<p>
	<h3>king document</h3>
		<p class="lead">孤記憶力 其差 爲了解決這一問題 孤將自己所學 整理成冊 <br>
		爲了方便 在各平臺 都能方便快速的 查詢 同時兼顧 靈活 孤將其整理爲 html 此網站 便是 資料的 在線編輯 瀏覽 入口<br>
		孤還 在github上 維護着 此資料的 一個 離線版本 孤會不定期 將資料同步到 github上 如果你需要 離線資料 詳情請訪問孤的 github 下面是 github項目地址 <br>
		<a href="https://github.com/zuiwuchang/king-document" target="_blank">https://github.com/zuiwuchang/king-document</a>
	</p>

	<p>
		<h3>king document build</h3>
		<p class="lead">king document build 是孤爲了 整理此份資料 而用 go 開發的 一個 開源(GPL) web 程式 <br>
		你所訪問的 這個 web 就是 使用 此程式搭建的 <br>
		如果你對此程式 有興趣 可以訪問 此項目地址 <br>
		<a href="https://github.com/zuiwuchang/king-document-build" target="_blank">https://github.com/zuiwuchang/king-document-build</a>
		</p>
	</p>
</div>
</div>
{{template "footer.html" .}}


