{{set . "title" "About"}}
{{template "header.html" .}}

<div class="container k-view">
<div class="jumbotron">
		<p>
			google+ <a href="https://plus.google.com/+%E5%AE%8F%E6%9D%B0%E9%99%B3" target="_blank">https://plus.google.com/+陳宏杰</a>
		</p>
		<p>
			github <a href="https://github.com/zuiwuchang" target="_blank">github.com/zuiwuchang</a>
		</p>
		<p>
			facebook <a href="https://www.facebook.com/zuiwuchang" target="_blank">https://www.facebook.com/zuiwuchang</a>
		</p>
		<p>
			bolg <a href="http://blog.king011.com/" target="_blank">http://blog.king011.com/</a>
		</p>
</div>
</div>
{{template "footer.html" .}}


