{{set . "title" "document"}}
{{template "header.html" .}}


<div class="container k-view">
	<div class="jumbotron" id="idDropView">
	<h1>king document</h1>
	<p>{{msg . "app.What"}}</p>
	<p>
		<a class="btn btn-default" href="/Search" role="button" target="_blank">{{msg . "app.Search"}}</a>
		<a class="btn btn-default" href="/Document/New" role="button" target="_blank">{{msg . "app.New"}}</a>
		<a class="btn btn-default" href="/Tag/Admin" target="_blank" role="button">{{msg . "app.Tags"}}</a>
		<a class="btn btn-default" href="/Offline/Index" target="_blank" role="button">{{msg . "app.Create Offline"}}</a>
	</p>
	</div>
</div>
{{template "footer.html" .}}