{{set . "title" (msg . "Login" )}}
{{template "header.html" .}}


<style type="text/css">
.kc-view-login{
	margin-top: 80px;
}
.kc-form-node{
	height: 45px;
}
</style>

<div class="container kc-view-login">
<div class="row">
<div class="col-sm-4">
</div>
<div class="col-sm-5">
<form class="form-horizontal" method="post" action="/App/DoLogin">
	<p>{{msg . "Please enter your password"}}</p>

	<p><input type="password" class="form-control kc-form-node" placeholder='{{msg . "Password"}}' name="pwd" id="idValPwd"></p>
	
	<div id="idMsgView">
		{{if .err}}
		<p class="alert alert-danger" role="alert">
			<a href="#" class="alert-link">{{.err}}</a>
		</p>
		{{end}}
	</div>

	<p><button class="btn btn-primary" type="submit">{{msg . "Login"}}</button></p>
	
</form>
</div>
</div>
</div>

{{template "footer.html" .}}


<script src="/public/js/CryptoJS/md5.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	var jqValPwd = $("#idValPwd");
	jqValPwd.focus();

	$("form").submit(function(event) {
		var val = jqValPwd.val();
		val = $.trim(val);
		if(val != ""){
			val = CryptoJS.MD5(val).toString();
		}
		jqValPwd.val(val);
	});
});
</script>