{{set . "title" (msg . "search.title")}}
{{template "header.html" .}}

<style type="text/css">
.kBtnSpan{
	padding-right: 5px;
	cursor: pointer;
}
#kBtnIcon{
	padding-right: 5px;
	cursor: pointer;
}
#kBtnIconSort{
	padding-right: 5px;
	cursor: pointer;
}
</style>

<div class="container k-view">
	
<div class="panel panel-default">
	<div class="panel-heading">{{msg . "search.doc's tag"}}</div>

	<div class="panel-body">
		<div id="idTagTree"></div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
	<span class="glyphicon glyphicon-minus" id="kBtnIcon"></span>
	<span class="glyphicon glyphicon-sort-by-alphabet" id="kBtnIconSort"></span>{{msg . "search.result"}}

	</div>

	<div class="panel-body">
		<div id="idDocsHide" style="display: none;">
		{{msg . "search.data hide"}}
		</div>
		<div id="idDocsView">
		{{msg . "search.none data"}}
		</div>
	</div>
</div>

</div>

<!--	modal sort	-->
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#idModalSort" id="idBtnSort" style="display: none;">Open Modal</button>

<div id="idModalSort" class="modal fade" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
	<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4 class="modal-title">{{msg . "chapter.edit.modal sort"}}</h4>
	</div>

	<div class="modal-body">
		<ul class='list-group' id="idModalSortBody">
		</ul>
	</div>

	<div class="modal-footer">
	<button type="button" class="btn btn-default" id="idModalSortSure">{{msg . "Sure"}}</button>
	<button type="button" class="btn btn-default" data-dismiss="modal" id="idModalSortCancel">{{msg . "Cancel"}}</button>
	</div>
</div>

</div>
</div>

{{template "footer.html" .}}


<link rel="stylesheet" href="/public/js/jstree/themes/default/style.min.css" />
<script src="/public/js/jstree/jstree.min.js"></script>


{{if eq .RunMode "dev"}}
	<script src="/public/views/msg.js"></script>

	<script src="/public/views/App/Search.js"></script>
{{else}}
	<script src="/public/views/msg.min.js"></script>

	<script src="/public/views/App/Search.min.js"></script>
{{end}}

<script type="text/javascript">
$(document).ready(function() {
	var getText = function(name,rows){
		if(rows == 0 || rows == "0"){
			return name;
		}

		return  name + "&nbsp;&nbsp;&nbsp;&nbsp;[" + rows + "]";
	};
	NewContext({
		Language:{
			"Sure":{{msg . "Sure"}},
			"Cancel":{{msg . "Cancel"}},

			"toggle tag":{{msg . "search.toggle tag"}},
			"search tag":{{msg . "search.search tag"}},

			"error title":{{msg . "search.error title"}},
			"err net":{{msg . "err net"}},

			"none data":{{msg . "search.none data"}},

			"err.title":{{msg . "err.title"}},
			"msg warning":{{msg . "msg warning"}},
			"sure?":{{msg . "msg are you sure"}},
			"erase":{{msg . "search.erase"}},
		},
		Data:[
			{
				id:'0',
				parent:'#',
				text:getText('{{msg . "tag.TagTree"}}','{{.rows}}'),
				state:{
					opened:true,
				},
				data:{
					Sort:0,
					Docs:{{.rows}},
				},
			},
{{range .tags}}
			{
				id:'{{.Id}}',
				parent:'{{.Pid}}',
				text:getText('{{.Name}}','{{.Docs}}'),
				data:{
					Sort:{{.Sort}},
					Docs:{{.Docs}},
					Name:{{.Name}},
				},
			},
{{end}}
		],
	});
});
</script>