{{set . "title" (msg . "doc.new.title")}}
{{template "header.html" .}}

<style type="text/css">
#idShowTag{
	cursor: pointer;
}
</style>

<div class="container k-view">

<div class="panel panel-default">
	<div class="panel-heading">{{msg . "doc.new.title"}}</div>

	<div class="panel-body">
	{{if .errMsg}}
	<div class="alert alert-danger" role="alert">
	<p>
		{{.errMsg}}
	</p>
	</div>

	{{end}}
	<form action="/Document/NewDoc" method="post">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<div class="kSpanName">{{msg . "doc.new.name"}}</div>
				</span>
				<input type="text" class="form-control" id="idValName" name="name" 
					{{if .name}}
						value='{{.name}}'
					{{else}}
						value='{{msg . "doc.new.new doc"}}'
					{{end}}
				>
			</div>
		</div>

		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<div class="kSpanName">{{msg . "doc.new.tag"}}</div>
				</span>
				<div class="form-control" id="idShowTag"></div>
				<input style="display: none;" type="text" id="idValTag" value="0" name="tag">
			</div>
		</div>

		<div class="form-group">
			<button id="idBtnSubmit" type="submit" class="btn btn-primary">{{msg . "doc.new.go"}}</button>
		</div>
	</form>
	</div>
</div>

</div>



<!--	modal tag	-->
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#idModalTag" id="idBtnTag" style="display: none;">Open Modal</button>

<div id="idModalTag" class="modal fade" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
	<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4 class="modal-title">{{msg . "doc.new.set tag"}}</h4>
	</div>

	<div class="modal-body">
	<p><div id="idModalTagTree"></div></p>
	</div>

	<div class="modal-footer">
	<button type="button" class="btn btn-default" id="idModalTagSure">{{msg . "Sure"}}</button>
	<button type="button" class="btn btn-default" data-dismiss="modal" id="idModalTagCancel">{{msg . "Cancel"}}</button>
	</div>
</div>

</div>
</div>
{{template "footer.html" .}}


<link rel="stylesheet" href="/public/js/jstree/themes/default/style.min.css" />
<script src="/public/js/jstree/jstree.min.js"></script>



{{if eq .RunMode "dev"}}
	<script src="/public/views/Document/New.js"></script>
{{else}}
	<script src="/public/views/Document/New.min.js"></script>
{{end}}


<script type="text/javascript">
$(document).ready(function() {
	NewContext({
		Language:{
		},
		InitTag:'{{.tag}}',
		Data:[
			{
				id:'0',
				parent:'#',
				text:'{{msg . "tag.TagTree"}}',
				state:{
					opened:true,
				},
			},
{{range .tags}}
			{
				id:'{{.Id}}',
				parent:'{{.Pid}}',
				text:'{{.Name}}',
				data:{{.Sort}},
			},
{{end}}
		],
	});
	
});
</script>
