<!DOCTYPE html>
<html>
<head>
	<title>{{.title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=0.8">
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
	<link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
	<script src="/public/js/jquery-2.2.4.min.js"></script>
	<script src="/public/js/bootstrap-3.3.6.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/public/js/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/public/js/jquery-ui/jquery-ui.structure.min.css">
	<link rel="stylesheet" type="text/css" href="/public/js/jquery-ui/jquery-ui.theme.min.css">
	<script src="/public/js/jquery-ui/jquery-ui.min.js"></script>
	
	<!--	king-js	-->
{{if eq .RunMode "dev"}}
	<script src="/public/js/king-js/core.min.js"></script>
{{else}}
	<script src="/public/js/king-js/core.nolog.min.js"></script>
{{end}}

	<link rel="stylesheet" type="text/css" href="/public/css/main.css">

</head>
<body class="k-body">

<div class="container">
<nav class="navbar navbar-default">
<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">{{msg . "Home"}}</a>
	</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	<ul class="nav navbar-nav">
		<li><a href="/App/Contact">{{msg . "Contact me"}}</a></li>
		<li><a href="/App/About">{{msg . "About"}}</a></li>
		<li><a href="/App/License">{{msg . "License"}}</a></li>
	</ul>

	<ul class="nav navbar-nav navbar-right">
{{if .session.pwd}}
		<li><a href="/App/out">{{msg . "Logout"}}</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{msg . "Manage"}} <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="/Document/New">{{msg . "app.New"}}</a></li>
				<li><a href="/Tag/Admin">{{msg . "app.Tags"}}</a></li>

				<li role="separator" class="divider"></li>
				<li><a id="idAOffline" href="#">{{msg . "app.Create Offline"}}</a></li>

				<li role="separator" class="divider"></li>
				<li><a id="idARestore" href="#">{{msg . "app.Restore DB"}}</a></li>
			</ul>
		</li>
{{else}}
		<li><a href="/App/Login">{{msg . "Login"}}</a></li>
{{end}}
	</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
</div>

{{if eq .RunMode "dev"}}
	<script src="/public/views/msg.js"></script>

	<script src="/public/views/header.js"></script>
{{else}}
	<script src="/public/views/msg.min.js"></script>

	<script src="/public/views/header.min.js"></script>
{{end}}

<script type="text/javascript">
$(document).ready(function() {
	NewHeader({
		Language:{
			"Sure":{{msg . "Sure"}},
			"Cancel":{{msg . "Cancel"}},

			"msg warning":{{msg . "msg warning"}},
			"offline":{{msg . "app.sure? offline"}},
			"restore":{{msg . "app.sure? restore"}},
		},
	});
});
</script>