<!DOCTYPE html>
<html>
<head>
	<title>{{.title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=0.8">
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
	<link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
	<script src="/public/js/jquery-2.2.4.min.js"></script>
	<script src="/public/js/bootstrap-3.3.6.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/public/js/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/public/js/jquery-ui/jquery-ui.structure.min.css">
	<link rel="stylesheet" type="text/css" href="/public/js/jquery-ui/jquery-ui.theme.min.css">
	<script src="/public/js/jquery-ui/jquery-ui.min.js"></script>
	
	<!--	king-js	-->
{{if eq .RunMode "dev"}}
	<script src="/public/js/king-js/core.min.js"></script>
{{else}}
	<script src="/public/js/king-js/core.nolog.min.js"></script>
{{end}}
	<script src="/public/js/king-js/cookie/cookie.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/public/css/main.css">

</head>
<body class="k-body">
<!-- 檢測瀏覽器版本 -->
{{template "browser.html" .}}
